<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - NutriTrackWeb</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" /> <!-- biblioteca de icones prontos (wpp, insta, face...) -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" /> <!--bootstrap de css -->
    <link rel="stylesheet" href="~/css/site.css" /> <!-- css -->


    
</head>
<body>
    <header>

        <div>
           <img src="@Url.Content("~/images/NutriTrackWebGR.png")" alt="Logo NutriTrack" class="logo-nav" style="max-width:50%;" />
       </div>
            
        <nav>
            
            <div class="d-flex gap-2 flex-nowrap">
                @RenderSection("HeaderRight", required: false)
            </div>
        </nav>
    </header>
    <main>

    @RenderBody()

    </main>
    <footer class="creditos">
        NutriTrackWeb © @DateTime.Now.Year - Created by Stefany Castelao
    </footer>

    <script src="~/js/bootstrap.bundle.min.js"></script> <!-- bootstrap de js-->
    <script src="~/js/site.js"></script> <!--js -->


</body>
</html>
